In [1]:
 # 튜플(Tuple)은 리스트와 유사하지만 수정과 삭제가 불가능한 배열
 # 리스트는 [] 로 작성하고 튜플은 () 로 작성한다.
 # 1개의 값만 튜플에 넣을 때는 a=(1,) 쉼표 필수
 # b = 1, 2, 3, 4 로 해도 튜플 처리 된다.
 # 튜플 생성은 변수에 넣은 값을 활용 하는 용도

 t1 = (1, 2, 'a', 'b')
 print(t1)

(1, 2, 'a', 'b')

In [2]:
type(t1)

tuple

In [3]:
# 값을 수정해보자 아마 오류가 발생할 것이다.
t1[3] = 8

TypeError: 'tuple' object does not support item assignment

In [4]:
# 값을 삭제해보자 아마 오류가 발생할 것이다.
del t1[2]

TypeError: 'tuple' object doesn't support item deletion